In [1]:
import pandas as pd
import numpy as np
import scipy as sp
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
anime = pd.read_csv('anime.csv')        
rating = pd.read_csv('rating.csv')

In [3]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [5]:
merged_table = rating.merge(anime, left_on = 'anime_id', right_on = 'anime_id', suffixes= ['_user', ''])
merged_table= merged_table[merged_table.user_id <=5000]
merged_table=merged_table[['user_id', 'name', 'rating_user']]
merged_table.head()

   user_id    name  rating_user
0        1  Naruto           -1
1        3  Naruto            8
2        5  Naruto            6
3        6  Naruto           -1
4       10  Naruto           -1

In [6]:
p_table = merged_table.pivot_table(index=['user_id'], columns=['name'], values='rating_user')
p_table.head()

name,&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,&quot;Bungaku Shoujo&quot; Memoire,&quot;Bungaku Shoujo&quot; Movie,.hack//G.U. Returner,.hack//G.U. Trilogy,.hack//G.U. Trilogy: Parody Mode,.hack//Gift,.hack//Intermezzo,.hack//Liminality,.hack//Quantum,...,gdgd Fairies Movie: tte Iu Eiga wa Dou kana...?,iDOLM@STER Xenoglossia,iDOLM@STER Xenoglossia Specials,s.CRY.ed,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki,◯
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN

In [7]:
p_norm = p_table.apply(lambda x: (x-np.mean(x))/(np.max(x)-np.min(x)), axis=1)

In [8]:
p_norm.fillna(0, inplace=True)
p_norm = p_norm.T
p_norm = p_norm.loc[:, (p_norm != 0).any(axis=0)]

In [9]:
p_sparse = sp.sparse.csr_matrix(p_norm.values)

item_similarity = cosine_similarity(p_sparse)
user_similarity = cosine_similarity(p_sparse.T)

item_sim_df = pd.DataFrame(item_similarity, index = p_norm.index, columns = p_norm.index)
user_sim_df = pd.DataFrame(user_similarity, index = p_norm.columns, columns = p_norm.columns)

In [10]:
def top_animes(anime_name):
    count = 1
    print('Users who watch {} also like:\n'.format(anime_name))
    for item in item_sim_df.sort_values(by = anime_name, ascending = False).index[1:6]:
        print('{}'.format( item))
        count +=1

In [11]:
top_animes("Naruto")

Users who watch Naruto also like:

Bleach
Katekyo Hitman Reborn!
Fairy Tail
Groove Adventure Rave
Sword Gai

In [12]:
import pickle

In [ ]:
itemdf = open("itemdf.pkl","wb")
pickle.dump(item_sim_df,itemdf)
itemdf.close()